.float-right {
    float: right;
    width: 320px;
    margin: 0 0 1rem 1rem;
}

@media(max-width: 900px) {
    .float-right {
        float: none;
        width: 100%;
        margin: 1rem 0;
    }
}